.rating {
  color: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.rating label {
  display: block;
  text-align: center;
  padding: 8px 12px;
}
label.rating-value {
  font-size: 18px;
}
label.source {
  font-size: 18px;
}
